{% extends 'base.html' %}
{% load static %}
{% block title %}
Ask Question
{% endblock %}

{% block content %}
<div class="container ">
    <div class="card card-body m-5 p-5 " style="background-color: rgba(3, 29, 80, 0.178);">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token%}
            <div id="id_tags m-5">
                <div class="form-group">
                    <center><label class="fw-bold fs-5 text-end" for="ques_input">Edit Question</label></center>

                    <textarea id="ques_input" name="text" class="form-control m-3 p-3" rows="4">{{ques.text|striptags}}</textarea>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    {% for tag in tags %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="tags" value="{{tag}}" id="id_tags_{{forloop.counter0}}" {% if tag in checked %} checked {% endif %}>
                        <label class="form-check-label" for="id_tags_{{forloop.counter0}}">
                            {{tag}}
                        </label>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <center><button type="submit" class="btn btn-primary m-1 mt-5 ">Save</button></center>


        </form>
    </div>
</div>


{% endblock %}

