{% extends 'base.html' %}
{% load static %}
{% block title %}
Homepage
{% endblock %}
{% block head %}
<style>
  body{
    background-color: rgba(128, 128, 128, 0.322);

  }

</style>
{% endblock %}

{% block content %}
<div class="container w-75">
  <center><b style="font-size:150%;">My Questions</b></center>

  {% for question in questions %}

  <div class="card bg-opacity-10 shadow-lg p-2 m-2">
    <div class="card-body">
      <a href="{{question.id}}/question_detail" style="color:black" >
        <h5 class="card-title"><span>{{forloop.counter}}</span>.<span>{{question.text|safe|truncatewords:15}}</span> </h5>
      </a>
      <div class="d-flex justify-content-between">
        <div>
          <p class="text-muted">Tags: {{question.tags|safeseq|join:" | "|title}}</p>
          <p class="text-muted">{{question.question_cmnt.all.count}} comments  &nbsp;&nbsp; {{question.question_ans.all.count}} answers</p>
        </div>
        <div class="d-flex justify-content-end flex-column" >
          <p class="text-muted fst- italic float-end">{{question.created_at}}</p>
          <p class="text-muted float-top">by - {{question.author}}</p>
        </div>
      </div>




    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}