{% extends 'base.html' %}
{% load static %}
{% block title %}
Homepage
{% endblock %}

{% block content %}

<div style="background-color: rgba(223, 223, 223, 0.089);" class="container d-flex flex-column align-items-center">
  <div style="background-color: rgba(139, 139, 139, 0.185);" class="card bg-opacity-10 shadow-lg p-2 m-2 w-100">
    <div class="  card-body">
      <h5 class="card-title">{{ques.text|safe}}</h5>
      <div class="d-flex justify-content-between">
        <div>
          <p class="text-muted">Tags: {{ques.tags|safeseq|join:" | "|title}}</p>
          {% if user in ques.upvotes_ques.all %}
          <a href="/{{ques.id}}/unupvote_ques" class="btn btn-primary">{{ques.upvotes_ques.all.count}} upvotes</a>
          {% else %}
          <a href="/{{ques.id}}/upvote_ques" class="btn btn-secondary">{{ques.upvotes_ques.all.count}} upvotes</a>
          {% endif %}
          <p class="text-muted">{{ques.views.all.count}} views</p>
          <a style=" color:grey ;text-decoration: none;" href="#ans" class="text-muted">{{ques.question_ans.all.count}} answers</a>


        </div>
        <div class="d-flex justify-content-end flex-column">
          <p class="text-muted fst-italic float-end">{{ques.created_at}}</p>
          <p class="text-muted float-top">by - {{ques.author}}</p>
        </div>
      </div>
      <p>
        <a style="color:grey ; text-decoration: none;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          {{ques.question_cmnt.all.count}} comments
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
          </svg>
        </a>
      </p>
      <div class="collapse card" id="collapseExample">
        {% for cmnt in ques.question_cmnt.all %}

        <div class="border-bottom px-2">
          <b>{{cmnt.author_cmnt}} </b>&nbsp;&nbsp;<span
            class="text-muted fs-6 fw-lighter">{{cmnt.time}}</span><br>&nbsp;
          {{cmnt.text|safe}}
        </div>

        {% endfor %}

        <br>


        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlTextarea1" class="px-1 fw-bold">Add comment</label>
            <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <button type="submit" name="action_ques" class="btn btn-primary  m-1">Comment</button>
        </form>


      </div>
    </div>
  </div>
  <!---->
  <p class="fw-bold fs-5">Answers</p>
  {% for ans in ques.question_ans.all%}

  <div class="card bg-opacity-10 shadow-lg p-2 m-2 w-75">
    <div class="card-body ">
      <p>
      <h5 class="card-title"><span>{{forloop.counter}}</span>.<span class="fs-5">{{ans.text|safe}}</span>
      </h5>
      </p>
      <div class="">
        {% if user in ans.upvotes_ans.all %}
        <a href="/{{ans.id}}/{{ques.id}}/unupvote_ans" class="btn btn-primary mb-1">{{ans.upvotes_ans.all.count}}
          upvotes</a>
        {% else %}
        <a href="/{{ans.id}}/{{ques.id}}/upvote_ans" class="btn btn-secondary mb-1">{{ans.upvotes_ans.all.count}}
          upvotes</a>
        {% endif %}
        <div class="text-muted">
          <p class="text-muted float-end">by - {{ans.author_ans}}</p>
        </div>
        <!---->
        <p>
          <a style="color:grey" data-toggle="collapse" href="#collapseExample{{ans.id}}" role="button"
            aria-expanded="false" aria-controls="collapseExample{{ans.id}}">
            {{ans.answer.all.count}} comments
          </a>
        </p>
        <div class="collapse card" id="collapseExample{{ans.id}}">
          {% for cmnt in ans.answer.all %}

          <div class="border-bottom px-2">
            <b>{{cmnt.author_cmnt}} </b>&nbsp;&nbsp;<span
              class="text-muted fs-6 fw-lighter">{{cmnt.time}}</span><br>&nbsp;
            {{cmnt.text|safe}}
          </div>

          {% endfor %}

          <br>


          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleFormControlTextarea{{ans.id}}" class="px-1 fw-bold">Add comment</label>
              <textarea name="text" class="form-control" id="exampleFormControlTextarea{{ans.id}}" rows="3"></textarea>
            </div>
            <input type="hidden" name='id_ans' value="{{ans.id}}">
            <button type="submit" name="action_ans" class="btn btn-primary  m-1">Comment</button>
          </form>


        </div>
        <!---->

      </div>
    </div>
  </div>
  {% endfor %}
  <div class="card w-75 p-4" style="background-color: rgba(211, 146, 6, 0.527);">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleFormControlTextarea1" class="p-1 fw-bold">Add Answer </label>
        <textarea name="text" class="form-control form-control-lg" id="exampleFormControlTextarea1" cols="10"
          rows="3"></textarea>
      </div>
      <button class="btn btn-primary m-1" type="submit" name="action"> Answer</button>
    </form>
  </div>


</div>
{% endblock %}