{% extends 'base.html' %}
{% load static %}
{% block title %} SignIn {% endblock%}
{% block head %}
<style>
    body {
        background-color: rgba(252, 252, 252, 0.575)
    }

    .input {
        margin: 2%;

    }

    .login-form {
        width: 30%;
        height: 50%;
        background-color: rgb(226, 226, 226);
        margin-inline: 35%;
        margin-top: 6%;
        border-radius: 1rem;
        padding: 2%;
        box-shadow: 0px 5px 20px 2px #888888;
    }
</style>
{% endblock %}
{% block content %}
{% for message in messages %}
<p class="text-center p-3 fw-bold fs-5" style="color: rgba(220, 20, 20, 0.925);">{{message}}</p>
{% endfor %}
<div class="login-form">
    <center>
        <h4>Sign In</h4>
    </center>
    <form action='' class="form" , method="POST" , enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input  type="text" name = "username"  class="input form-control mb-4 mt-4 ms-1" id="Username" aria-describedby="username"
                placeholder="Username">
        </div><div class="form-group">
            <input  type="text" name = "password"  class="input form-control ms-1" id="Username" aria-describedby="username"
                placeholder="Password">
        </div>
        <br><br>

        <center><input style="background-color:rgb(48, 173, 48); border-radius:.3rem; border:1px solid rgb(48, 173, 48) ; padding-inline:2% ; padding:1%" type="submit" value=" Sign In "
                name='SignIn'></center>
    </form>
    <br><br>
    
        <center>
           New User?  <a href="/SignUp" style="color:rgb(5, 43, 65)">Sign Up</a>
        </center>
    


</div>

{% endblock %}